/* slide layouts */

.column-desc-layout {
  display: grid;
  gap: 0.75em;
  grid-auto-flow: column;
  grid-template-rows: auto 2em;
}

.column-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.column-label {
  font-size: x-large;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.column-layout {
  display: grid;
  gap: 0.75em;
  grid-auto-flow: column;
  grid-template-rows: auto;
}

hr.divider {
  margin: 0.5em;
  border: none;
}

/* result table */

table.result-tab {
  font-size: medium;
  margin: 0;
}

table.result-tab thead tr th,
table.result-tab tbody tr td {
  border: none;
}

table.result-tab th.result-tab-head-section {
  text-align: center;
  border-bottom: solid;
}

table.result-tab tr.result-tab-section {
  font-size: 0.75rem;
  border-top: solid;
  font-weight: bold;
}

table.result-tab tr td:nth-child(n + 2),
table.result-tab tr th:nth-child(n + 2) {
  text-align: center;
}

/* fragments */

.fragment.blur {
  filter: none;
}

.fragment.blur.visible {
  filter: blur(5px);
}

/* misc */

.hide {
  opacity: 0;
}