/* headings */

h1 {
    font-size: 1.5em !important;
}

h2 {
    font-size: 1.25em !important;
}

h3 {
    font-size: 1em !important;
}

h4 {
    font-size: 0.75em !important;
}

p,
li,
span.katex {
    font-size: x-large;
}

/* layout */

.column-desc-layout,
.column-layout {
    column-gap: 2em;
}

/* misc */

.fragment.highlight-green.visible {
    color: green !important;
}

/* ranking: search */

.se-logo {
    font-weight: bold;
    font-size: 1.5em;
    font-family: sans-serif;
}

.r-blue {
    color: #4285F4;
}

.r-red {
    color: #DB4437;
}

.r-yellow {
    color: #F4B400;
}

.r-green {
    color: #0F9D58;
}

div.search-bar {
    border: 0.025em solid gray;
    border-radius: 2em;
    width: 50%;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    height: 0.5em;
}

div.search-query {
    display: flex;
    flex-direction: row;
}

div.search-query>* {
    font-family: sans-serif;
    font-size: medium;
    text-align: left;
}

div.search-query span.typed-cursor {
    font-weight: lighter;
}

div.search-results {
    display: flex;
    flex-direction: column;
    gap: 0.75em;
    width: 70%;
    margin: 0.5em;
    padding: 0.5em;
    border: 0.01em solid gray;
    border-radius: 0.25em;
    background-color: white;
    font-family: sans-serif;
}

div.search-result {
    text-align: left;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: medium;
}

div.search-result p {
    margin: 0.1em;
}

div.search-result-header {
    font-family: sans-serif;
    text-align: left;
    display: flex;
    flex-direction: row;
    align-items: center;
}

div.search-result-icon {
    margin-right: 0.5em;
}

div.search-result-icon-background {
    height: 1.5em;
    width: 1.5em;
}

div.search-result-icon>img {
    height: 1em;
    width: 1em;
}

div.search-result-icon-background {
    background-color: lightgray;
    border-radius: 100%;
}

div.search-result-icon>img {
    padding: 0;
    margin: 0;
}

p.search-url,
p.search-title {
    margin: 0.25em;
    color: gray;
    font-size: x-small;
}

p.search-link {
    font-size: medium;
    color: blue;
    margin-top: 0.25em !important;
}

p.search-desc {
    font-size: small;
    text-align: justify;
}

/* ranking qd */

.rqd-grid {
    display: grid;
    grid-template-columns: min-content min-content;
    column-gap: 0.5em;
    border: 0.025em solid gray;
    border-radius: 0.25em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    background-color: white;
}

.rqd-grid-item {
    font-size: medium;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
}

p.rqd-grid-item .katex {
    font-size: large;
}

.rqd-grid-result {
    justify-content: left !important;
}

/* motivation ranking */

.mr-grid {
    display: grid;
    grid-template-columns: 45% 45%;
    column-gap: 5%;
    justify-content: space-evenly;
}

.mr-grid>*:nth-child(odd) {
    text-align: right;
}

.mr-grid>*:nth-child(even) {
    display: flex;
    align-items: center;
    text-align: left;
}

/* dense retrieval */

#dr-vector-space {
    position: relative;
    height: 7em;
    width: 7em;
    margin: 0.5em;
    border: 0.01em solid black;
    border-radius: 100%;
    background-color: lightgray
}

#dr-query-radius {
    position: absolute;
    top: 2rem;
    left: 7rem;
    height: 7rem;
    width: 7rem;
    border: 0.01em solid gray;
    border-radius: 100%;
    background-color: #ff000040;
}

.dr-icon {
    position: absolute;
    font-size: large;
    text-shadow: 0.1px 0.1px 0 black;
}

/* retrieve-and-re-rank */

#rr-layout p.column-label {
    margin: 0;
}

p.rr-arrow {
    margin: 0;
}

div.rr-stage {
    display: grid;
    grid-template-rows: 1.5em min-content 1.5em;
}

p.rr-stage-num {
    font-weight: bold;
    font-size: xx-large;
    margin: 0;
}

p.rr-operation {
    font-size: medium;
    background-color: white;
    border: 0.01em solid gray;
    border-radius: 0.5em;
    padding: 0.5em;
    margin: 0;
    max-width: 5em;
}

div#rr-candidate-docs {
    font-size: 0.5em;
    text-shadow: 0.1px 0.1px 0 black;
}

p.rr-ranking-doc {
    font-family: monospace;
    font-size: x-small;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0.25em;
}

span.rr-ranking-doc-icon {
    font-size: large;
    margin: 0 0.25em;
    text-shadow: 0.1px 0.1px 0 black;
}