/* ranking */

.se-logo {
    font-weight: bold;
    font-size: 1.75em;
    font-family: sans-serif;
}

.r-blue {
    color: #4285F4;
}

.r-red {
    color: #DB4437;
}

.r-yellow {
    color: #F4B400;
}

.r-green {
    color: #0F9D58;
}

div.search-bar {
    border: 0.05em solid gray;
    border-radius: 2em;
    width: 50%;
    height: 2em;
    font-size: medium;
    text-align: left;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: sans-serif;
}

div.search-bar span.typed-cursor {
    font-weight: lighter;
}

div.search-results {
    display: flex;
    flex-direction: column;
    gap: 0.75em;
    width: 70%;
    margin: 0.5em;
    padding: 0.5em;
    border: 0.01em solid gray;
    border-radius: 0.25em;
    background-color: white;
    font-family: sans-serif;
}

div.search-result {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: medium;
}

div.search-result p {
    margin: 0.1em;
}

div.search-result-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0.25em;
}

div.search-result-icon {
    height: 1em;
    width: 1em;
    padding: 0.3em;
    margin-right: 0.5em;
    margin-left: 0.25em;
    background-color: lightgray;
    border-radius: 100%;
}

div.search-result-icon>img {
    padding: 0;
    margin: 0;
}

p.search-url,
p.search-title {
    margin: 0.05em;
    color: gray;
    font-size: x-small;
}

p.search-link {
    font-size: medium;
    color: blue;
}

p.search-desc {
    font-size: small;
    text-align: justify;
}